<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <title>Artists</title>
</head>
<body>
<header>
<nav>
	<ul>	
		<li>
		<a th:href="@{/artists}">Artists</a>
		</li>
		<li>
		<a th:href="@{/albums}">Albums</a>
		</li>
		<li>
		<a th:href="@{/songs}">Songs</a>
		</li>
	</ul>
</nav>
</header>
<h2 >
	<strong>MewZak</strong>
</h2>

<ul>
		<li th:each="artist : ${artists}"><a
			th:href="|@{/artists/}${artist.artistName}|"> 
			<span th:text="${artist.artistName}"></span>
			</a>
		</li>
</ul>
    
</body>
</html>