<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Song</title>
</head>
<body>
<header>
<nav>
	<ul>	
		<li>
		<a th:href="@{/artists}">Artists</a>
		</li>
		<li>
		<a th:href="@{/albums}">Albums</a>
		</li>
		<li>
		<a th:href="@{/songs}">Songs</a>
		</li>
	</ul>
</nav>
</header>
<h2 >
	<strong>MewZak</strong>
</h2>
<h1>
	<span th:text="${artistName}"></span>
</h1>
<div>
	<ul><li th:text="${song.songName}"></li>
		<li th:text="${song.length}"></li>
		<li th:text="${song.lyrics}"></li>
		<li th:text="${song.rating}"></li>
		<li th:text="${song.album}"></li>
	</ul>	
</div>
<h3>Comments about this song</h3>        
        <div>
            <label>Your name: <input type="text" name="userNameApi" placeholder="Name"/></label>
            <label>Comment: <input type="text" name="commentApi" placeholder="Comment" /></label>
            <input type="hidden" name="songId" th:value="${song.id}"></input>
            <button class="submitComment">Submit</button>
        </div>
        <ul class="commentList">
            <li th:each="songComment : ${song.songComments}">
                <span th:text="|${songComment.userName}: ${songComment.comment}|"></span>
            </li>
        </ul>
</body>
</html>